/*-----------------------------------------------------------------------------------*/
/*  6.  Comments
/*-----------------------------------------------------------------------------------*/

#comments {
    clear: both;
    margin: 0 10px 1.25em;
    width: 620px;
}

.page-template-template-full-width-php #comments { margin-left: 0; }

.comments-title,
#reply-title,
.pings-title {
    color: #2c2f32;
    font-family: 'Patua One', Georgia, serif;
    margin: 0 3.2258%; /* 20px / 620px */
    text-transform: uppercase;
}

.commentlist,
.pinglist {
    background: #fff;
    -webkit-border-radius: 4px;
            border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
          box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin: 1.625em 0 2.5em 0; /* 26px / 40px */
  list-style-type: none;
  padding: 1.625em 0;
  overflow: hidden;
}

.pinglist {
  margin: 20px 0 40px;
  list-style-type: decimal;
  list-style-position: inside;
}

.pinglist li { margin: 0 20px; }

.pinglist li:first-child { margin-top: 0; }

.comment {
    margin: 1.25em 20px 0; /* 20px */
    overflow: hidden;
}

.comment:first-child { margin-top: 0; }

.children {
    list-style-type: none;
    margin: 1.5em 0 0 14%;
}

.children .children { margin-left: 80px; }

.children .children .children { margin-left: 0; }

.children .comment { margin: 1.5em 0 0 0; }

.children .comment-body {
    margin-left: 16.5%;
    width: 76%;
}

.children .children .comment-body {
    margin-left: 19%;
    width: 72%;
}

.avatar {
  -webkit-border-radius: 4px;
          border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
            box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.comment .avatar {
  float: left;
  margin: 0 10px 0 0;
}

.avatar-overlay {
    background: transparent url(images/sprite.png) 0 -100px no-repeat;
    display: block;
    height: 56px;
    margin-top: -56px;
    position: relative;
    top: 56px;
    width: 56px;
}

.comment-body {
    background: #fafafb;
    margin: 0 0 0 14%; /* 80px/620px */
    padding: 1.25em 20px 0.1em; /* 20px */
    position: relative;
    width: 79.310344827%; /* 460px / 580px */
}

.comment-body::before {
    border-top: 15px solid #fafafb;
    border-left: 15px solid transparent;
    content: '';
    height: 0;
    left: -15px;
    position: absolute;
    top: 0;
    width: 0;
}

.bypostauthor > div > .comment-body {
    background: #22272d;
    color: #a7a7a7;
}

.bypostauthor > div > .comment-body::before {
    border-top: 15px solid #22272d;
}

.comment-meta {
    color: #6a6d73;
    font-size: 12px;
    margin-bottom: 1.25em;
}

.comment-meta a {
    border-bottom: none;
    color: #6a6d73;
}

.comment-meta a:hover { color: #ea4848; }

.bypostauthor .comment-meta a { color: #6a6d73; }

.bypostauthor .comment-meta a:hover { color: #ea4848; }

.comment-author cite {
    color: #2c2f32;
    font-family: 'Patua One', Georgia, serif;
    font-size: 18px;
    font-style: normal;
}

.comment-author cite a {
    border-bottom: none;
    color: #2c2f32;
}

.bypostauthor > div > .comment-body .comment-author cite,
.bypostauthor > div > .comment-body .comment-author cite a { color: #fff; }

.comment-author cite a:hover { color: #ea4848; }

.bypostauthor .comment-author cite a:hover { color: #ea4848; }

.nocomments {
  text-align: center;
  padding: 20px;
}

.comment-body ul { list-style-type: disc; }

.comment-body ol { list-style-type: decimal; }

#commentform {
  padding: 1.875em 20px; /* 30px/20px 620px */
  background: #fff;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
          box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin-top: 1.875em;
  overflow: hidden;
}

#commentform label {
    position: relative;
    top: 5px;
}

#commentform .required {
    color: #ea4848;
    position: relative;
    top: 5px;
}

#commentform input {
  border: 1px solid #bbb;
  margin-right: 10px;
  display: block;
  margin-top: 8px;
}

#commentform textarea {
    width: 96.2068966%;
    max-width: 96.2068966%;
border: 1px solid #bbb;
}

#commentform .form-submit { margin-bottom: 0; }

.commentlist #respond { margin-top: 1.25em; }

.commentlist #commentform {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 0;
    padding-top: 0.625em;
}

