/*-----------------------------------------------------------------------------------*/
/*  3.  Navigation & Menus
/*-----------------------------------------------------------------------------------*/

.main-navigation {
    background: #fff;
    border-bottom: 4px solid #fafafb;
    -webkit-box-shadow: 0 1px 0 #d2d2d3, 0 1px 3px rgba(0,0,0,.2);
       -moz-box-shadow: 0 1px 0 #d2d2d3, 0 1px 3px rgba(0,0,0,.2);
         -o-box-shadow: 0 1px 0 #d2d2d3, 0 1px 3px rgba(0,0,0,.2);
            box-shadow: 0 1px 0 #d2d2d3, 0 1px 3px rgba(0,0,0,.2);
}

#primary-nav {
  margin: 0 auto;
  width: 940px;
}

#zilla-mobile-menu { display: none; }

/*** ESSENTIAL STYLES ***/
.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sf-menu li {
  position: relative;
  white-space: nowrap;
}

.sf-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  min-width: 12em;
  z-index: 99;
}

.sf-menu > li { float: left; }

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul { display: block; }

.sf-menu a {
  display: block;
  position: relative;
}

.sf-menu ul ul {
  top: 0;
  left: 100%;
}

/* Skin */
#primary-menu > li > a {
  border-bottom: none;
  border-right: 1px solid #ebebec;
  border-top: 3px solid transparent;
  color: #2c2f32;
  font-family: 'Patua One', Georgia, serif;
  padding: 12px 15px 16px;
  text-transform: uppercase;
}

#primary-menu > li:first-child > a { border-left: 1px solid #ebebec; }

#primary-menu > li > a:hover,
#primary-menu .current-menu-item > a,
#primary-menu > .sfHover > a {
  border-bottom: none;
  border-top: 3px solid #2c2d32;
  color: #ea4848;
  text-decoration: none;
}

#primary-menu .sub-menu {
  background: #2c2f32;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.7);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.7);
  -o-box-shadow: 0 1px 3px rgba(0,0,0,.7);
  box-shadow: 0 1px 3px rgba(0,0,0,.7);
  padding: 5px 0 10px;
}

#primary-menu .sub-menu a {
  background: #22272d;
  border: none;
  border-radius: 4px;
  color: #a7a7a7;
  font-size: 12px;
  margin: 5px 10px 0;
  padding: 2px 10px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#primary-menu .sub-menu > li > a:hover,
#primary-menu .sub-menu .current-menu-item > a,
#primary-menu .sub-menu > .sfHover > a {
  color: #ea4848;
  text-decoration: none;
}

/* Back to top link ------------------------------------*/
#back-to-top {
  border-radius: 4px;
  background: #000000 url('images/sprite.png') 12px -394px no-repeat;
  display: none;
  opacity: .7;
  height: 46px;
  width: 46px;
  z-index: 999;
  position: fixed;
    bottom: 20px;
    right: 20px;
}

#back-to-top:hover { opacity: 1; }

