/*----------------------------------------------------------------------------------*/
/*  12. Customs skins
/*----------------------------------------------------------------------------------*/

/* Disqus 6/11/13 */
#disqus_thread {
  margin-left: 10px;
}

/* Prisme 6/11/13 */
.token.comment, .token.prolog, .token.doctype, .token.cdata {
  margin: 0;
}
/* Tagcloud 6/11/13 */
#sidebar .tagcloud a {
  float: left;
  display: block;
  margin-bottom: 4px;
  margin-right: 4px;
  background: #f26c4f;
  padding: 5px 10px;
  font-family: 'Patua One', Georgia, serif;
  font-size: 13px !important;
  line-height: 1.4em !important;
  color: #fff !important;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s linear;
  transition: all .4s linear;
}
#sidebar .tagcloud {
  *zoom:1;
}
#sidebar .tagcloud:before,
#sidebar .tagcloud:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
#sidebar .tagcloud:after {
    clear: both;
}

#sidebar .tagcloud a:hover {
background: #111;
color: #fff !important;
text-decoration: none;
-webkit-transition: all .01s ease-out;
-moz-transition: all .01s linear;
transition: all .01s linear;
}

.widget_recent_entries a {
    font-weight: bold;
}

